<app-media-viewer class="modal-video" id = "video" frontReelVideo = "false" videoTemplate = "true" videoPath = "{{videoURL}}"  posterURL ="{{posterURL}}"></app-media-viewer> 
<table class="table table-borderless">
    <tr>
      <td >
      <h3>{{videoTitle}}</h3> 
      </td>
    </tr>
    <tr>
        <td>
            <h6>{{videoDescription}}</h6>
        </td>
        <td>
            <h6>
                Credits:
                <br>
                {{videoCredits}}
            </h6>
            
        </td>
    </tr>
  </table>