<head>
	<script src="video-js.min.css" rel="stylesheet"></script>
	<script src="video.min.js"></script>
</head>

<div id="instructions" *ngIf="isFrontReel" oncontextmenu="return false;">
	<video id="frontReel"  autoplay class="video-js vjs-default-skin vjs-fill" width="100%"    controls preload="none" loop="true"
		poster=''
		data-setup='{}'>
		<source src="{{videoPath}}" type='video/mp4' />
		
	
	</video>
</div>

<div  *ngIf="!isFrontReel" oncontextmenu="return false;">
	<video id="my_video"  autoplay  class="video-js vjs-default-skin " width="100%"    controls controlsList="nodownload" preload="none" loop="true"
		poster='{{posterURL}}'
		
		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="{{videoPath}}" type='video/mp4' />
		
	
	</video>
	
</div>
