<app-admin-navigation-bar  currentPage = "Sort"></app-admin-navigation-bar>
<br>
<h1>Sort Videos Navigation</h1>
<br>
    <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-center">

        <ul class="navbar-nav">
            <li> <a id="home" [routerLink]="['/homeSort']" class="nav-link">Home Page</a></li>
            <li> <a id="product" [routerLink]="['/productSort']" class="nav-link">Product</a></li>
            <li> <a id="music" [routerLink]="['/musicSort']" class="nav-link">Music</a></li>
            <li> <a id="commercial" [routerLink]="['/commercialSort']" class="nav-link">Commercial</a></li>
            <li> <a id="promo" [routerLink]="['/promoSort']" class="nav-link">Promo</a></li>
            <li> <a id="events" [routerLink]="['/eventsSort']" class="nav-link">Events</a></li>
            <li> <a id="viral" [routerLink]="['/viralSort']" class="nav-link">Viral</a></li>
      
        </ul>
    
</nav>
