<br>
<app-navigation-bar currentPage="Login"></app-navigation-bar>
<br>
<br>
<br>
<div class="login">
  <span class="border border-5">
  <table class="table table-borderless login ">
    <tbody>
    <tr>
      <td>
        Email :
      </td>
      <td>
        <input type="text" name="email" [(ngModel)]="email">
      </td>
    </tr>
    <tr>
      <td>
        Password :
      </td>
      <td>
        <input type="password" name="password" [(ngModel)]="password">
      </td>
    </tr>
    <tr>
      <td>
        <button (click)=login()>Login</button>
      </td>
    </tr>
    <tr>
        <small *ngIf="errorMsg.length > 0">{{errorMsg}}</small>
    </tr>
  </tbody>
  </table>
</span>

</div>
