
<div>

  <table class="table table-borderless">
    <tr>
      <td>
        Email :
      </td>
      <td>
        <input type="text" name="email" [(ngModel)]="email">
      </td>
    </tr>
    <tr>
      <td>
        Password :
      </td>
      <td>
        <input type="password" name="password" [(ngModel)]="password">
      </td>
    </tr>
    <tr>
      <td>
        <button (click)=login()>Login</button>
      </td>
    </tr>
    <tr>
        <small *ngIf="errorMsg.length > 0">{{errorMsg}}</small>
    </tr>
  </table>


</div>
