h1 ,h4 {
    text-align: center;
    font-style: italic;
}
table ,tr ,td {
  border: 0px;
  text-align: center;
  padding: 0%;
  width: fit-content;
}
table {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.saveChanges {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
