
    <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-center">

            <ul class="navbar-nav">
                <li> <a id = "home" [routerLink]="['/home']" class="nav-link">Home</a></li>
                <li> <a id = "product" [routerLink]="['/product']" class="nav-link">Product</a></li>
                <li> <a id = "music" [routerLink]="['/music']" class="nav-link">Music</a></li>
                <li> <a id = "commercial" [routerLink]="['/commercial']" class="nav-link">Commercial</a></li>
                <li> <a id = "promo" [routerLink]="['/promo']" class="nav-link">Promo</a></li>
                <li> <a id = "events" [routerLink]="['/events']" class="nav-link">Events</a></li>
                <li> <a id = "viral" [routerLink]="['/viral']" class="nav-link">Viral</a></li>
                <li> <a id = "about" [routerLink]="['/about']" class="nav-link">About</a></li>
                <li> <a id = "login" [routerLink]="['/login']" class="nav-link">Login</a></li>
            </ul>
        
    </nav>
