
    <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-center">

            <ul class="navbar-nav">
                <li> <a [routerLink]="['/home']" class="nav-link">Home</a></li>
                <li> <a [routerLink]="['/product']" class="nav-link">Product</a></li>
                <li> <a [routerLink]="['/music']" class="nav-link">Music</a></li>
                <li> <a [routerLink]="['/commercial']" class="nav-link">Commercial</a></li>
                <li> <a [routerLink]="['/promo']" class="nav-link">Promo</a></li>
                <li> <a [routerLink]="['/events']" class="nav-link">Events</a></li>
                <li> <a [routerLink]="['/viral']" class="nav-link">Viral</a></li>
                <li> <a [routerLink]="['/about']" class="nav-link">About</a></li>
            </ul>
        
    </nav>
