<app-admin-navigation-bar currentPage = "EditAndRemove"></app-admin-navigation-bar>
<br>
<h1>Edit And Remove Video</h1>
<br>
<h1>{{video.title}}</h1>
<br>

<div class="all-form-groups">
    <div >
      <label for="Title">Video Title</label>
      <input type="text" class="form-control" [(ngModel)]="title">

      <label for="description">Video Description</label>
      <textarea class="form-control" [(ngModel)]="description" rows="3"></textarea>

      <label for="description">Video Credits</label>
      <textarea class="form-control" [(ngModel)]="credits" rows="3"></textarea>
      <label for="video"> Poster And Video Files</label>
      
      <div class="dropzone" 
      dropzone
      (hovered)="toggleHover($event)"
      (dropped)="onDrop($event)"
      [class.hovering]="isHovering">

      <h3>Poster And Video File Drop Zone</h3>
      <p>Drag and Drop a File</p>
      <input class="file-label" type="file" (change)="onDrop($event.target.files)">
      </div>

      <div *ngFor="let file of files">
      <upload-task  [videoFile]="file"></upload-task>
      </div>
      <br>
      <label for="category">Video</label>
      <br>
      <div class="videoReview">
      <app-media-viewer class="videoReview" id = "video" frontReelVideo = "false" videoPath = "{{videoURL}}"  posterURL = "{{posterURL}}"></app-media-viewer> 
      </div>
        <br>
      <label for="category">Poster</label>
      <br>
      <img src="{{posterURL}}" height="200px">
      <br>
      <label for="category">Video Category</label>
      <select class="form-control" [(ngModel)]="category">
        <option>Product</option>
        <option>Music</option>
        <option>Commercial</option>
        <option>Promo</option>
        <option>Events</option>
        <option>Viral</option>
      </select>
      <br>
      <div class="buttons">
       
        <table class="table table-borderless">
          <tr>
            <td>
              <button  (click)="updateVideo()"  type="button" class="btn btn-secondary">Update</button>
            </td>
            <td>
              <button  (click)="deleteVideo()"  type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    
</div>
